*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.title{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.course{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    /* border: 1px solid; */
    /* display: block; */
}
.course div{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    gap: 10px;
}
.course div i{
    /* border: 1px solid; */
    padding: 5px;
    /* font-size: 2rem; */
}
.start-now{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
   
}
.component{
    display: flex;
    justify-content: space-between;
    padding: 20px;
}
.start-now div{
    margin-top: 15px;
}
.lesson-completed
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.lesson-completed div{
    margin-top: 15px;
}
.duration{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.duration div{
    margin-top: 15px;
}
























@media (max-width:500px)
{
    .component{
        flex-direction: column;
    }
    .course,
    .start-now,
    .lesson-completed,
    .duration
    {
        /* width: 100%; */
        align-items: center;
        /* border: 1px solid; */
        gap: 30px;
    }
}