*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.top-1{
    border: 1px solid;
    display: inline-block;
    padding: 1px 30px;
    border-radius: 20px;
    background-color: blue;
    color: white;
}
.top{
    align-items: center;
    text-align: center;
    margin-top: 10%;
}
.top div{
    line-height: 2;
}
.star
{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    margin-top: 3%;
    gap: 10px;
}
.star i{
    border: 1px solid;
    padding: 10px;
    color: white;
    background-color: black;
}
.star span{
    font-weight: bold;
}
.content div{
    /* border: 1px solid; */
}
.content-1{
    width: 100px;
    padding: 0px 100px;
    align-items: center;
    text-align: center;
    justify-content: center;
    display: flex;
    border: 1px solid;
    background-image: linear-gradient(blue, orange, yellow);
}
.content-2{
    border: 1px solid;
}
.content{
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 3%;
    /* background-color: green; */
}
.content-2 div
{
    border: 1px solid;
}
.content-2 div p{
    padding: 50px 0px 100px ;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
    /* background-color: blue; */
}
.content-2 div h6{
    padding: 5px 0px 30px;
}
.content-2 div{
    text-align: center;
    /* align-items: center; */
    display: flex;
    padding: 10px;
}
.content-1 div{
    padding: 15px;
    border-radius: 50px;
    /* background-color: green; */
}
.content-1 h4{
    /* border: 1px solid; */
    padding: 15px;
    border-radius: 20px;
    /* background-color: #666; */
    color: white;
}
.foot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
    gap: 5px;
}
.foot div{
    border: 1px solid;
    padding: 5px 40px;
}
.foot div:nth-child(2){
    background-color: black;
    color: white;
}






@media (max-width:500px)
{
    .top{
        /* align-items: none; */
        /* text-align: none; */
    }
}